{% extends "base.html" %} {% block content %}
<div class="container">
    <h1>COVID-19 Risk assessment</h1>
  <div class="row">
    <div class="col-8">
        <h5><font color="firebrick">USA statewise analysis</font></h5>
        <br></br>
        <form method="post" action="/">
        <input type="submit" value="Estimate risk" name="action1"/>
        <br><br/>
        <input type="submit" value="Show statistics" name="action2" />
        <br><br/>
        <input type="submit" value="Change Weights" formmethod="GET" formaction="/add_weight" />
        <br><br/>
        <input type="submit" value="Add new parameter" formmethod="GET" formaction="/add_factor" />
        <br><br/>
        <input type="submit" value="Delete parameter" formmethod="GET" formaction="/delete_factor" />

        
  </form>
      <p>Model Accuracy  {{ data.accuracy }}</p>
  </div>
</div>
{% endblock %}